interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sspai.com/feed
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\"><channel><title>\u5C11\u6570\u6D3E</title><link>https://sspai.com</link><description>\u5C11\u6570\u6D3E\u81F4\u529B\u4E8E\u66F4\u597D\u5730\u8FD0\u7528\u6570\u5B57\u4EA7\u54C1\u6216\u79D1\u5B66\u65B9\u6CD5\uFF0C\u5E2E\u52A9\u7528\u6237\u63D0\u5347\u5DE5\u4F5C\u6548\u7387\u548C\u751F\u6D3B\u54C1\u8D28</description><language>zh-CN</language><managingEditor>contact@sspai.com
        (\u5C11\u6570\u6D3E)</managingEditor><pubDate>Fri, 23 May 2025 17:41:48 +0800</pubDate><item><title>\u672C\u5468\u770B\u4EC0\u4E48
        | \u6700\u8FD1\u503C\u5F97\u4E00\u770B\u7684 7 \u90E8\u4F5C\u54C1</title><link>https://sspai.com/post/99533</link><description>\u2615\uFE0FTL;DR\u8FD1\u671F\u4F73\u4F5C\u63A8\u8350\uFF1A[\u7F8E\u5267]\u56DB\u5B63\u60C5\u7B2C\u4E00\u5B63\u3001[\u7F8E\u5267]\u6740\u622E\u4EBA\u673A\u3001[\u7535\u5F71]\u4E11\u964B\u7684\u7EE7\u59D0\u3001[\u82F1\u5267]\u683C\u96F7\u65AF\u7B2C\u4E94\u5B63\u3001[\u56FD\u4EA7]\u4EBA\u751F\u82E5\u5982\u521D\u89C1\u3001[\u52A8\u753B]\u9633\u5149\u9A6C\u8FBE\u68D2\u7403\u573A\uFF01\u3001[\u7EAA\u5F55\u7247]\u5168\u7F8E\u7F09\u51F6\uFF1A\u672C\xB7\u62C9\u767B\u51E0\u5219\u7CBE\u5F69\u9884\u544A\uFF1A
        ...&lt;a href=&#34;https://sspai.com/post/99533&#34; target=&#34;_blank&#34;&gt;\u67E5\u770B\u5168\u6587&lt;/a&gt;</description><author>\u5C11\u6570\u6D3E\u7F16\u8F91\u90E8</author><pubDate>Fri,
        23 May 2025 17:41:48 +0800</pubDate></item><item><title>WWDC25 \u6D3E\u5BF9\u4E4B\u591C\uFF1A\u5317\u4EAC\u3001\u4E0A\u6D77\u3001\u6DF1\u5733\u4E09\u57CE\u8054\u52A8\uFF0C\u6765\u4E00\u8D77\u770B
        Apple \u53D1\u5E03\u4F1A</title><link>https://sspai.com/post/99447</link><description>\u5317\u4EAC\u65F6\u95F46\u670810\u65E5\u51CC\u6668\uFF0CWWDC25\u5168\u7403\u5F00\u53D1\u8005\u5927\u4F1A\u9996\u65E5Keynote\u4E3B\u9898\u6F14\[...]
- request:
    body: '{"url":"https://sspai.com/feed"}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: http://test/api/v1/rss/subscribe
  response:
    body:
      string: "{\"id\":\"7206b1a3-6bd2-4663-8583-5fcd6b83ec0b\",\"url\":\"https://sspai.com/feed\",\"title\":\"\u5C11\u6570\u6D3E\",\"message\":\"success\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"url":"https://sspai.com/feed"}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: http://test/api/v1/rss/subscribe
  response:
    body:
      string: '{"detail":"URL has been subscribed for you."}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"url":"https://weekly.tw93.fun/rss.xml"}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: http://test/api/v1/rss/subscribe
  response:
    body:
      string: '{"detail":"2 per 1 second"}'
    headers:
      content-type:
      - application/json
    status:
      code: 429
      message: Too Many Requests
- request:
    body: null
    headers:
    method: GET
    uri: https://weekly.tw93.fun/rss.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss version=\"2.0\"><channel><title>\u6F6E\u6D41\u5468\u520A</title><description>\u8BB0\u5F55\u5DE5\u7A0B\u5E08
        Tw93 \u7684\u4E0D\u67AF\u71E5\u751F\u6D3B</description><link>https://weekly.tw93.fun/</link><image><url>https://gw.alipayobjects.com/zos/k/qv/coffee-2-icon.png</url></image><follow_challenge><feedId>41147805276726275</feedId><userId>42909600318350336</userId></follow_challenge><item><title>\u7B2C222\u671F
        - \u7231\u78C1\u5E26\u673A</title><link>https://weekly.tw93.fun/posts/222-%E7%88%B1%E7%A3%81%E5%B8%A6%E6%9C%BA/</link><guid
        isPermaLink=\"true\">https://weekly.tw93.fun/posts/222-%E7%88%B1%E7%A3%81%E5%B8%A6%E6%9C%BA/</guid><description>&lt;p&gt;&lt;video
        width=&quot;800px&quot; preload=&quot;&quot; controls&gt;&lt;source src=&quot;https://cdn.fliggy.com/uPic/cidai21.mp4&quot;
        type=&quot;vide[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: http://test/api/v1/rss/subscriptions
  response:
    body:
      string: "[{\"id\":\"7206b1a3-6bd2-4663-8583-5fcd6b83ec0b\",\"url\":\"https://sspai.com/feed\",\"title\":\"\u5C11\u6570\u6D3E\"},{\"id\":\"71865968-abf6-427c-9576-37453a1d3193\",\"url\":\"https://weekly.tw93.fun/rss.xml\",\"title\":\"\u6F6E\u6D41\u5468\u520A\"}]"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: http://test/api/v1/rss/unsubscribe/71865968-abf6-427c-9576-37453a1d3193
  response:
    body:
      string: "{\"message\":\"\u53D6\u6D88\u8BA2\u9605\u6210\u529F\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"username\":\"rss_user\",\"password\":\"Passw0rd;\",\"email\":\"rss@example.com\",\"bio\":\"\u53EF\u7EF4\u62A4\u6027\",\"avatar\":\"https://avatars.githubusercontent.com/u/20469245?v=4\",\"favorite_sites\":{\"GitHub\":\"https://github.com/wsgggws\",\"Bilibili\":\"https://space.bilibili.com/472722204\"}}"
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://test/api/v1/user/register
  response:
    body:
      string: '{"id":"d4203163-b4f8-4f9f-b2d7-3c077146b957","username":"rss_user","email":"rss@example.com","last_login":null,"avatar":null,"bio":null,"favorite_sites":null,"created_at":"2025-11-19T14:46:37.617895Z","updated_at":"2025-11-19T14:46:37.617910Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: http://test/api/v1/rss/subscriptions
  response:
    body:
      string: "{\"items\":[{\"id\":\"8fed6b73-0f0c-4309-84a5-f078d3b873ee\",\"url\":\"https://sspai.com/feed\",\"title\":\"\u5C11\u6570\u6D3E\",\"message\":\"success\"},{\"id\":\"f2e34f76-3b9d-4982-9bfb-84bd8f7ee8e2\",\"url\":\"https://weekly.tw93.fun/rss.xml\",\"title\":\"\u6F6E\u6D41\u5468\u520A\",\"message\":\"success\"}],\"total\":2}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: http://test/api/v1/rss/subscriptions
  response:
    body:
      string: "{\"items\":[{\"id\":\"4edcd173-56a4-4677-8468-7414c8c8f2c5\",\"url\":\"https://sspai.com/feed\",\"title\":\"\u5C11\u6570\u6D3E\",\"message\":\"success\"}],\"total\":1}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
